.customContainer, input[type="email"], input[type="password"],input[type="text"] {
    border-color: #9DB2BF;
    background-color: #526D82;
    border: 1px solid;
    box-shadow: 3px #9DB2BF;
    color: #DDE6ED;
}

.consoleJoin {
    color: #DDE6ED;
  max-height: 80%;  /* adjust height */
  overflow-y: auto;
}


.customModal{
    background-color: #9DB2BF;
}

input::placeholder {
    color: #9DB2BF;
    opacity: 0.7;
}

.textColor{
    color: #DDE6ED;
    font-weight: strong;
}

